MainSocialClass/Service References/ZenithCore/ZenithCore75.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.billerfield" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.billerfield" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/com.zenith.zcore.library" />
  <xs:complexType name="ArrayOfBillerField">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillerField" nillable="true" type="tns:BillerField" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillerField" nillable="true" type="tns:ArrayOfBillerField" />
  <xs:complexType name="BillerField">
    <xs:sequence>
      <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldLength" type="xs:int" />
      <xs:element minOccurs="0" name="FieldName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FieldType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCompulsory" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/com.zenith.zcore.library" minOccurs="0" name="List" nillable="true" type="q1:ArrayOfFieldList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillerField" nillable="true" type="tns:BillerField" />
</xs:schema>