MainSocialClass/Service References/ZenithCore/ZenithCore29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.stmtresp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.stmtresp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd15" namespace="http://zenithbank.com/core.stmt" />
  <xs:complexType name="StatementResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://zenithbank.com/core.stmt" minOccurs="0" name="Statements" nillable="true" type="q1:ArrayOfStatement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatementResult" nillable="true" type="tns:StatementResult" />
</xs:schema>