MainSocialClass/Service References/ZenithCore/ZenithCore70.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.biller" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.biller" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd50" namespace="http://zenithbank.com/core.billerfield" />
  <xs:complexType name="ArrayOfBiller">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Biller" nillable="true" type="tns:Biller" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBiller" nillable="true" type="tns:ArrayOfBiller" />
  <xs:complexType name="Biller">
    <xs:sequence>
      <xs:element minOccurs="0" name="BillerID" type="xs:int" />
      <xs:element minOccurs="0" name="BillerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://zenithbank.com/core.billerfield" minOccurs="0" name="CustomField" nillable="true" type="q1:ArrayOfBillerField" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Biller" nillable="true" type="tns:Biller" />
</xs:schema>