MainSocialClass/Service References/ZenithCore/ZenithCore55.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.airtelmerchantresp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.airtelmerchantresp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd27" namespace="http://zenithbank.com/core.airtimemerchant" />
  <xs:complexType name="AirtimeMerchantResp">
    <xs:sequence>
      <xs:element xmlns:q1="http://zenithbank.com/core.airtimemerchant" minOccurs="0" name="AirtimeMerchant" nillable="true" type="q1:ArrayOfAirtimeMerchant" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirtimeMerchantResp" nillable="true" type="tns:AirtimeMerchantResp" />
</xs:schema>