MainSocialClass/Service References/ZenithCore/ZenithCore58.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.dstvCustResp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.dstvCustResp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd39" namespace="http://zenithbank.com/core.dstvCust" />
  <xs:complexType name="DstvCustomerResp">
    <xs:sequence>
      <xs:element xmlns:q1="http://zenithbank.com/core.dstvCust" minOccurs="0" name="Customer" nillable="true" type="q1:DstvCustomer" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DstvCustomerResp" nillable="true" type="tns:DstvCustomerResp" />
</xs:schema>