MainSocialClass/Service References/ZenithCore/ZenithCore39.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.beneficiaryResp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.beneficiaryResp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd64" namespace="http://zenithbank.com/core.beneficiary" />
  <xs:complexType name="BeneficiaryResp">
    <xs:sequence>
      <xs:element xmlns:q1="http://zenithbank.com/core.beneficiary" minOccurs="0" name="BeneficiaryList" nillable="true" type="q1:ArrayOfBeneficiary" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeneficiaryResp" nillable="true" type="tns:BeneficiaryResp" />
</xs:schema>