MainSocialClass/Service References/ZenithCore/ZenithCore33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.quickacctsum" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.quickacctsum" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd2" namespace="http://zenithbank.com/core.clientauth" />
  <xs:complexType name="QuickAccountBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://zenithbank.com/core.clientauth" minOccurs="0" name="ClientAuth" nillable="true" type="q1:Client" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="QuickAccountBalance" nillable="true" type="tns:QuickAccountBalance" />
</xs:schema>