MainSocialClass/Service References/ZenithCore/ZenithCore3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.balance" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.balance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BalanceResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NetValueDtBalance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BalanceResp" nillable="true" type="tns:BalanceResp" />
</xs:schema>