MainSocialClass/Service References/ZenithCore/ZenithCore25.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.lmtQueryResp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.lmtQueryResp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd55" namespace="http://zenithbank.com/core.TransferAtm" />
  <xs:complexType name="LmtQueryResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://zenithbank.com/core.TransferAtm" minOccurs="0" name="Result" nillable="true" type="q1:ArrayOfThirdPartyTransferATM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LmtQueryResp" nillable="true" type="tns:LmtQueryResp" />
</xs:schema>