MainSocialClass/Service References/ZenithCore/ZenithCore19.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.AmtTransfer" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.AmtTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd2" namespace="http://zenithbank.com/core.clientauth" />
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd3" namespace="http://zenithbank.com/core.customerauth" />
  <xs:complexType name="ThirdPartyAmtTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BeneficiaryFirstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiarySurname" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://zenithbank.com/core.clientauth" minOccurs="0" name="ClientAuth" nillable="true" type="q1:Client" />
      <xs:element xmlns:q2="http://zenithbank.com/core.customerauth" minOccurs="0" name="CustomerAuth" nillable="true" type="q2:CustomerAuth" />
      <xs:element minOccurs="0" name="DebitAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RecipientMobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SchemeID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ThirdPartyAmtTransfer" nillable="true" type="tns:ThirdPartyAmtTransfer" />
</xs:schema>