MainSocialClass/Service References/ZenithCore/ZenithCore60.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.zoneresp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.zoneresp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd35" namespace="http://zenithbank.com/core.utilityZone" />
  <xs:complexType name="UtilityZoneResp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://zenithbank.com/core.utilityZone" minOccurs="0" name="Zones" nillable="true" type="q1:ArrayOfUtilityZone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UtilityZoneResp" nillable="true" type="tns:UtilityZoneResp" />
</xs:schema>