MainSocialClass/Service References/ZenithCore/ZenithCore26.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.nameinquiryResp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.nameinquiryResp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="NameInquiryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NameInquiryResponse" nillable="true" type="tns:NameInquiryResponse" />
</xs:schema>