MainSocialClass/Service References/ZenithCore/ZenithCore4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.airtimemerchant" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.airtimemerchant" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAirtimeMerchant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirtimeMerchant" nillable="true" type="tns:AirtimeMerchant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirtimeMerchant" nillable="true" type="tns:ArrayOfAirtimeMerchant" />
  <xs:complexType name="AirtimeMerchant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirtimeMerchant" nillable="true" type="tns:AirtimeMerchant" />
</xs:schema>