MainSocialClass/Service References/ZenithCore/ZenithCore69.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.stmt" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.stmt" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStatement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Statement" nillable="true" type="tns:Statement" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStatement" nillable="true" type="tns:ArrayOfStatement" />
  <xs:complexType name="Statement">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="CheckNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreditAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DebitAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="DebitCredit" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DrCr" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EffectiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostingBranchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostingBranchNo" type="xs:int" />
      <xs:element minOccurs="0" name="PostingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ptid" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReferenceNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TranCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Statement" nillable="true" type="tns:Statement" />
</xs:schema>