MainSocialClass/Service References/ZenithCore/ZenithCore9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.beneficiaryReq" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.beneficiaryReq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd8" namespace="http://zenithbank.com/core.authreq" />
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd64" namespace="http://zenithbank.com/core.beneficiary" />
  <xs:complexType name="BeneficiaryReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://zenithbank.com/core.authreq" minOccurs="0" name="AuthenticateDetail" nillable="true" type="q1:AuthenticateReq" />
      <xs:element xmlns:q2="http://zenithbank.com/core.beneficiary" minOccurs="0" name="Beneficiary" nillable="true" type="q2:Beneficiary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BeneficiaryReq" nillable="true" type="tns:BeneficiaryReq" />
</xs:schema>