MainSocialClass/Service References/ZenithCore/ZenithCore13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.lmtQueryById" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.lmtQueryById" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd2" namespace="http://zenithbank.com/core.clientauth" />
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd3" namespace="http://zenithbank.com/core.customerauth" />
  <xs:complexType name="LmtQueryRequestByID">
    <xs:sequence>
      <xs:element xmlns:q1="http://zenithbank.com/core.clientauth" minOccurs="0" name="ClientAuth" nillable="true" type="q1:Client" />
      <xs:element xmlns:q2="http://zenithbank.com/core.customerauth" minOccurs="0" name="CustomerAuth" nillable="true" type="q2:CustomerAuth" />
      <xs:element minOccurs="0" name="ID" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LmtQueryRequestByID" nillable="true" type="tns:LmtQueryRequestByID" />
</xs:schema>