MainSocialClass/Service References/ZenithCore/ZenithCore15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.beneficiary" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.beneficiary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Beneficiary">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BeneficiaryID" type="xs:double" />
      <xs:element minOccurs="0" name="BeneficiaryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BranchSortCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Beneficiary" nillable="true" type="tns:Beneficiary" />
  <xs:complexType name="ArrayOfBeneficiary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Beneficiary" nillable="true" type="tns:Beneficiary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBeneficiary" nillable="true" type="tns:ArrayOfBeneficiary" />
</xs:schema>