MainSocialClass/Service References/ZenithCore/ZenithCore1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.accountsumresp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.accountsumresp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd18" namespace="http://zenithbank.com/core.accountsum" />
  <xs:complexType name="AccountSummaryResp">
    <xs:sequence>
      <xs:element xmlns:q1="http://zenithbank.com/core.accountsum" minOccurs="0" name="AccountSummary" nillable="true" type="q1:ArrayOfAccountSummary" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountSummaryResp" nillable="true" type="tns:AccountSummaryResp" />
</xs:schema>