MainSocialClass/Service References/ZenithCore/ZenithCore7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.BillerCategory" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.BillerCategory" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBillerCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BillerCategory" nillable="true" type="tns:BillerCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBillerCategory" nillable="true" type="tns:ArrayOfBillerCategory" />
  <xs:complexType name="BillerCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BillerCategory" nillable="true" type="tns:BillerCategory" />
</xs:schema>