MainSocialClass/Service References/ZenithCore/ZenithCore30.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.StandingOrderAirtime" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.StandingOrderAirtime" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd2" namespace="http://zenithbank.com/core.clientauth" />
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd3" namespace="http://zenithbank.com/core.customerauth" />
  <xs:complexType name="StandingOrderAirtime">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element xmlns:q1="http://zenithbank.com/core.clientauth" minOccurs="0" name="ClientAuth" nillable="true" type="q1:Client" />
      <xs:element xmlns:q2="http://zenithbank.com/core.customerauth" minOccurs="0" name="CustomerAuth" nillable="true" type="q2:CustomerAuth" />
      <xs:element minOccurs="0" name="DebitAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastRunTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileOperator" type="xs:int" />
      <xs:element minOccurs="0" name="NextRunTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" type="xs:int" />
      <xs:element minOccurs="0" name="ScheduleTransferID" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandingOrderAirtime" nillable="true" type="tns:StandingOrderAirtime" />
  <xs:complexType name="ArrayOfStandingOrderAirtime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StandingOrderAirtime" nillable="true" type="tns:StandingOrderAirtime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStandingOrderAirtime" nillable="true" type="tns:ArrayOfStandingOrderAirtime" />
</xs:schema>