MainSocialClass/Service References/ZenithCore/ZenithCore23.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.customerauth" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.customerauth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CustomerAuth">
    <xs:sequence>
      <xs:element minOccurs="0" name="Accesscode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AuthenticationMode" type="xs:int" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerAuth" nillable="true" type="tns:CustomerAuth" />
</xs:schema>