MainSocialClass/Service References/ZenithCore/ZenithCore57.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.ZenithTransfer" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.ZenithTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd2" namespace="http://zenithbank.com/core.clientauth" />
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd3" namespace="http://zenithbank.com/core.customerauth" />
  <xs:complexType name="ZenithTransfer">
    <xs:sequence>
      <xs:element xmlns:q1="http://zenithbank.com/core.clientauth" minOccurs="0" name="ClientAuth" nillable="true" type="q1:Client" />
      <xs:element minOccurs="0" name="CreditAccount" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://zenithbank.com/core.customerauth" minOccurs="0" name="CustomerAuth" nillable="true" type="q2:CustomerAuth" />
      <xs:element minOccurs="0" name="DeditAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZenithTransfer" nillable="true" type="tns:ZenithTransfer" />
</xs:schema>