MainSocialClass/Service References/ZenithCore/ZenithCore2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.ReOccurTransfer" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.ReOccurTransfer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd2" namespace="http://zenithbank.com/core.clientauth" />
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd3" namespace="http://zenithbank.com/core.customerauth" />
  <xs:complexType name="ReOccuringTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="BankCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://zenithbank.com/core.clientauth" minOccurs="0" name="ClientAuth" nillable="true" type="q1:Client" />
      <xs:element minOccurs="0" name="CreditAccount" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://zenithbank.com/core.customerauth" minOccurs="0" name="CustomerAuth" nillable="true" type="q2:CustomerAuth" />
      <xs:element minOccurs="0" name="DebitAccount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastRunTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextRunTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PayeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Period" type="xs:int" />
      <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ScheduleTransferID" type="xs:decimal" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReOccuringTransfer" nillable="true" type="tns:ReOccuringTransfer" />
  <xs:complexType name="ArrayOfReOccuringTransfer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReOccuringTransfer" nillable="true" type="tns:ReOccuringTransfer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReOccuringTransfer" nillable="true" type="tns:ArrayOfReOccuringTransfer" />
</xs:schema>