MainSocialClass/Service References/ZenithCore/ZenithCore42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://zenithbank.com/core.CategoryResp" elementFormDefault="qualified" targetNamespace="http://zenithbank.com/core.CategoryResp" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://172.29.30.40/ZenithCoreService/ZenithCore.svc?xsd=xsd71" namespace="http://zenithbank.com/core.BillerCategory" />
  <xs:complexType name="CategoryResp">
    <xs:sequence>
      <xs:element xmlns:q1="http://zenithbank.com/core.BillerCategory" minOccurs="0" name="Categories" nillable="true" type="q1:ArrayOfBillerCategory" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryResp" nillable="true" type="tns:CategoryResp" />
</xs:schema>